
:root {
    --transparen-panel-color:  rgba(0, 0, 0, 0.5);
}

/* Basic Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    touch-action: none;
}

.game-wrapper {
    position: fixed; /* Stay in place */
    overflow: hidden; /* Enable scroll if needed */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
}

#phaser-game {
    display: block;
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(209, 144, 144); /* Black with opacity */
}

canvas {
    width: 100%;
    height: 100%;
}

.info-block-wrap {
    display: block;
    width: 100%;
    background-color: var(--transparen-panel-color);
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    
    z-index: 10;
    
}

.info-block {
    max-width: 1024px;
    margin: 0 auto; 
}

.info-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;  /* Arranges the list items horizontally */
    color: #fff;
    
}

.info-list li {
    flex: 1;  /* Distributes space equally among items */ 
    display: flex;
    align-items: center; /* Align content vertically within each item */
}

.info-list li:last-child {
    border-right: none; /* Removes border from the last item for a cleaner look */
}

.info-header {
    width: 100%;
    padding: 0 3px 0 1px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensures space between the label and the number */
}

/* Specific alignment adjustments */
.info-list li:nth-child(1) .info-header {
    justify-content: flex-start; /* Aligns text to the left */
}

.info-list li:nth-child(2) .info-header {
    justify-content: center; /* Centers text */
}

.info-list li:nth-child(3) .info-header {
    justify-content: flex-end; /* Aligns text to the right */
}

@media (max-width: 355px) or (max-height: 355px) {
    html, body {
        font-size: 16px;
    }

    
}

@media (max-width: 1024px) {
    .info-list li:nth-child(1) .info-header {
        margin-left: 10%;
    }
    .info-list li:nth-child(3) .info-header {
        margin-right: 10%;
    }
}






.button-panel-wrap {
    display: block;
    width: 100%;
    z-index: 10;
}



.button-panel {
    list-style: none;
    padding: 0;
    margin: 10px auto;
    display: flex;
    justify-content: space-between; /* Adjusts children with space between them */
    width: 300px; /* Width limit as requested */
    background-color: var(--transparen-panel-color);
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    border-radius: 12px;
}

.button-panel li {
    display: flex; /* Ensures flexibility of each list item */
    align-items: center; /* Vertical alignment */
    justify-content: center; /* Horizontal alignment */
    flex: 1; /* Equal flex distribution */
}

.button-panel li:first-child {
    justify-content: flex-start; /* Left alignment for the first button */
    text-align: left;
}

.button-panel li:nth-child(2) {
    justify-content: center; /* Center alignment for the middle button */
    text-align: center;
}

.button-panel li:last-child {
    justify-content: flex-end; /* Right alignment for the last button */
    text-align: right;
}

.game-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Ensures button fills the li element */
    padding: 5px 5px 2px 5px;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.game-button:hover {
    transform: translateY(-2px);
}

.game-button img {
    width: 40px; /* Image size */
    height: auto;
}

.game-button div {
    margin-top: 5px;
    font-size: 14px;
    color: #fff; /* Color for better visibility on dark background */
}






.modal-play {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
    z-index: 1000; /* Sit on top */
}

.modal-play-content {
    position: absolute;
    top: 0;
    
    left: 50%; /* 20% left margin */

    transform: translateX(-50%);

    /*right: 10%; /* 20% right margin */
    bottom: 0;
    
    background-color:rgba(0, 0, 0, 0.9); /* Light black with high opacity */
    box-shadow: 0 4px 8px rgba(0,0,0,0.5); /* Adds shadow for depth */
    color: gray;
    /* padding: 20px; */
    width: 80%; /* Automatically adjust the width based on the margins */
    height: 100%; /* Stretch to full height */
    box-sizing: border-box; /* Include padding in the width calculation */
    overflow-y: auto; /* Allows scrolling inside the modal if content overflows */
    border: none; /* Removing the border */
    /* max-width: 350px; */
    z-index: 1001;
}

.modal-play-content .header {
    height: 40%;
}

@media (max-height: 600px) {
    .modal-play-content .header {
        height: 10%;
    }
}

@media (orientation: landscape)  {
    .modal-play-content {
        
        max-width: 350px;
    }

    
}

.modal-play-content .main {
    
    width: 100%; /* Set the width of the panel */
    padding: 20px; /* Padding around the content */
    
    border-radius: 8px; /* Rounded corners */
    margin: 20px auto; /* Center the panel horizontally */
}

.play-button {
    list-style: none; /* Removes bullet points from the list */
    padding: 0; /* Removes padding */
    margin: 0; /* Removes margin */
}

.play-button li {
    margin-bottom: 10px; /* Adds space between buttons */
}

.play-button li:last-child {
    margin-top: 20px;
    margin-bottom: 0; /* Removes margin from the last button */
}

.play-button button {
    display: flex;
    align-items: center; /* Vertically centers the contents within the button */
    justify-content: center; /* Horizontally centers the contents within the button */
    width: 100%;
    padding: 10px;
    background-color: #333; /* Dark grey background */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.play-button button img {
    margin-right: 10px; /* Adds space between the icon and the text */
    width: 20px; /* Fixed width for icons */
    height: auto; /* Maintain aspect ratio */
}

.play-button button div {
    text-align: center; /* Centers the text within the div */
    display: block; /* Ensures the div behaves as a block-level element inside the flex container */
    flex-grow: 1; /* Allows the div to expand and fill the available space, useful if you want the text centered irrespective of the icon */
}

.play-button button:hover {
    background-color: #555; /* Changes background on hover */
}

.close-button {
    color: #ccc; /* Lighter color for better visibility on dark background */
    position: absolute; /* Positioning it relative to its nearest positioned ancestor */
    right: 10px;
    top: 10px;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: #fff; /* White color on hover/focus for better visibility */
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 600px) {
    .modal-content {
        left: 15%; /* 20% margin for mobile devices */
        right: 15%; /* Adjusted margin for mobile */
    }
}

/* Adjustments for tablets or intermediate screen sizes, if needed */
@media (min-width: 601px) and (max-width: 800px) {
    .modal-content {
        left: 10%; /* Maintaining a 20% margin from the edges */
        right: 10%;
    }
}
